body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.columns {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.column {
    width: 300px;
    padding: 10px;
    background: #f3f3f3;
    border-radius: 5px;
}

/* Анимация для перемещения карточек */
.move-enter-active, .move-leave-active {
    transition: transform 0.5s ease;
}

.move-enter, .move-leave-to /* .move-leave-active in <2.1.8 */ {
    transform: translateX(30px);  /* Начальная и конечная позиция */
    opacity: 0;
}

/* Стили для карточек */
.note {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.favorite {
    background-color: #f0f0f0;
}

.move-up {
    animation: moveUp 0.5s ease;
}

/* Анимация для заметок, помеченных как избранные */
@keyframes moveUp {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}




.note ul{
    text-align: start;
}

ul{
    list-style: none;
}

button{
   padding: 5px 10px;
   border-radius: 5px;
   border: none;
   margin-bottom: 20px;
   background-color: #ffffff;
   cursor: pointer;
   transition: all ease-out 0.2s;
}

button:hover{
    transform: translateY(-5px) scale(110%);
}

.locked {
    pointer-events: none;
    opacity: 0.5;
}

.favorite {
    background-color: yellow; /* Цвет для избранных карточек */
}
