body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.columns {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.column {
    width: 300px;
    padding: 10px;
    background: #f3f3f3;
    border-radius: 5px;
}
.note {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.note ul{
    text-align: start;
}

ul{
    list-style: none;
}

button{
   padding: 5px 10px;
   border-radius: 5px;
   border: none;
   margin-bottom: 20px;
   background-color: #ffffff;
   cursor: pointer;
   transition: all ease-out 0.2s;
}

button:hover{
    transform: translateY(-5px) scale(110%);
}

.locked {
    pointer-events: none;
    opacity: 0.5;
}

.favorite {
    background-color: yellow; /* Цвет для избранных карточек */
}
